{
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* Main Styling */

body
{
	padding: 0.75em; 
	padding-top: 0;
	font-family: 'Sansita', sans-serif;
	font-size: 1em;         
	background-color: #EAE0FF;
}

header
{
	padding: 0.01em;  
	background-color: #63FFD0;
	font-family: 'Sansita', sans-serif;
	color: #160066;
	text-align: center;
	letter-spacing: 0.1em;
}

nav{
	width: 100%;
	top: 0;
	left: 0;
}

main
{
	background-color: #E9FFF8;
	padding: 1.5em;
	padding-top: 2em;
	padding-bottom: 1em;
}

footer
{
	font-size: 0.6em;
	text-align: center;
}

/* Navigation Specific Styling */
.nav
{
	margin-left: 0;
	padding-bottom: 0;
}
.nav li
{
	float: left;
	width: 25%;
	list-style-type: none;
	padding-bottom: 0;
}

.nav a 
{
  display: block;
  text-align: center;
  line-height: 1;
  padding: 0.6315789474em 0.3157894737em; /* ~ 12px 6px @ 19px/em */
  background-color: #843AFF;
  color: #D4FFEB;
  border-bottom: 0;
}

/* Hyperlinks & Lists */

a
{
	color: #843AFF;
	test-decoration: none;
}

a:hover
{
	color: #56C2A1;
	text-decoration: none;
}

ul li
{
	list-style: circle;
}

/* Headers */
